header {
	background: #5837fd;
	background: linear-gradient(150deg,#5837fd 15%,#02cff9 70%,#a1fcc7 94%);
	color: white;

	#avatar {
		width: 88px;
		box-shadow: 0 3px 1px 1px rgba(0, 0, 0, 0.19);
		border-radius: 100%;
	}

	& > div {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	h1 {
		font-weight: 100;
		margin-bottom: 19px;
	}

	h5 {
		font-weight: 400;
	}

	p {
		margin-top: 23px;
	}
}

#main {
	margin-top: -31px;

	.card {
		background-color: white;
		padding: 15px 29px;
		border-radius: 14px 0;
		box-shadow: 0 2px 4px rgba(50,50,93,.1);
		a{
			text-decoration: none !important;
			&:hover{
				opacity: 0.8;
			}
		}
		h5 {
			color: #434d70;
			text-transform: uppercase;
		}

		i {
			color: #c0c5d5;
		}

		ul {
			padding: 0;
			list-style: none;

			li {
				position: relative;
				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}

				& > i {
					position: absolute;
					top: 4px;
					font-size: 16px;
				}

				& > div {
					display: inline-block;
					vertical-align: text-bottom;
					margin-left: 29px;

					b {
						color: #434d70;
					}

					a {
						color: #03A9F4;
					}
				}
			}
		}

		.ctnt {
			margin-top: 25px;
		}
	}
}

.stuff {
	margin-bottom: 30px;
}

.works {
	.card {
		margin-bottom: 33px;

		h5 {
			display: inline-block;
			font-family: Poppins;
			font-weight: 600;
			font-size: 20px;

			&+i {
				vertical-align: top;
				margin-left: 7px;
			}
		}

		.gall {
			margin-top: 20px;
			margin-left: -29px;
			margin-right: -29px;
			border-radius: 0 0 14px 0;
			margin-bottom: -15px;

			.img {
				border-radius: 0 0 14px 0;
				overflow: hidden;

				img {
					width: 100%;
					max-height: 300px;
					object-fit: cover;
					object-position: 0 0;
				}
			}
		}
	}
}
@media(max-width:768px) {
	.contact {
		margin-bottom: 20px;
	}
}